body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url("img/background.jpg");
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.BlueDancer{
  content: url('http://dl.glitter-graphics.com/pub/843/843091wg9t5qi2wn.gif');
  position:absolute;
}

.methodButton{
  padding:5px 12px;
  float:center;
}

.RudolphDancer{
  content: url('img/rudolph.png');
  transition: transform .8s;
  position:relative;
  animation: mymove 5s infinite;
}

.RudolphDancer:hover{
  transform: rotate(360deg);
  transform-origin: bottom left;
}

.JingleDancer{
  -webkit-transition: top 5s, left 5s, height .5s, width .5s;
  background: url('img/JingleBell.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  position:absolute;
  width:  100px;
  height: 100px;
  -webkit-animation: spin 5s infinite linear;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
}